<h1>Listing control_de_peliculas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Lancamento</th>
      <th>Genero</th>
      <th>Produtora</th>
      <th>Duracao</th>
      <th>Avaliacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @control_de_peliculas.each do |control_de_pelicula| %>
      <tr>
        <td><%= control_de_pelicula.titulo %></td>
        <td><%= control_de_pelicula.lancamento %></td>
        <td><%= control_de_pelicula.genero %></td>
        <td><%= control_de_pelicula.produtora %></td>
        <td><%= control_de_pelicula.duracao %></td>
        <td><%= control_de_pelicula.avaliacao %></td>
        <td><%= link_to 'Show', control_de_pelicula %></td>
        <td><%= link_to 'Edit', edit_control_de_pelicula_path(control_de_pelicula) %></td>
        <td><%= button_to 'Destroy', control_de_pelicula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Control de pelicula', new_control_de_pelicula_path %>
